#highscore p:nth-child(even) {
  background-color: #ff0000;
  color: white;
}
.jumbotron {
  background-color: white;
  border-radius: 0px;
}
@media (min-width: 960px) {
  .jumbotron {
    border-left: 2px solid #428bca;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
html body {
  font-family: 'Exo 2', sans-serif;
  color: #3f3f3f;
}
html body main .game-rule img {
  width: 250px;
}
html body main button,
html body main select {
  cursor: pointer;
}
html body main button a,
html body main select a {
  color: #fff;
}
html body main button a:hover,
html body main select a:hover {
  color: #fff;
  text-decoration: none;
}
html body main .btn {
  border-radius: 0px;
}
html body main .card {
  border-radius: 0px;
}
html body main rect.btn {
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0;
  stroke-opacity: 0;
}
html body main #board-holder {
  overflow: hidden;
  margin: 0 auto;
}
html body main #board-holder #board {
  width: 700px;
  height: 600px;
  transform-origin: 0 0;
}
html body main #board-holder #board svg {
  width: 700px;
  height: 600px;
  transform-origin: 0 0;
}
html body main #board-holder #board svg g image {
  pointer-events: none;
}
html body main circle {
  fill: white;
}
html body main circle.yellow {
  fill: #f1e420;
}
html body main circle.red {
  fill: #fa5f39;
}
html body main circle.hoverYellow {
  fill: #ffff52;
}
html body main circle.hoverRed {
  fill: #ff916b;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 30px;
  /* Vertically center the text there */
  border-top: 1px solid #e0e0e0;
}
footer .color {
  background-color: #d7d7d7;
  border-radius: 200px 5px;
  padding: 10px 30px;
}
footer p {
  line-height: 1.6em;
  margin-bottom: 0;
  color: #3f3f3f;
}
footer p .fa {
  line-height: 30px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
footer p .fa-facebook {
  background: #3B5998;
  color: white;
}
footer p .fa-envelope,
footer p .fa-address-card,
footer p .fa-phone {
  background: black;
  color: white;
}
footer p a,
footer p a:hover {
  color: #3f3f3f;
}
footer .myheight {
  height: 100px;
}
header {
  font-family: 'Bungee', cursive;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
header .logoimg {
  height: 10%;
  width: 30%;
}
header .toplel {
  font-size: 22px;
}
.playerFont {
  font-family: 'Bungee', cursive;
}
@media (min-width: 1200px) {
  .playerFont {
    font-family: 'Bungee', cursive;
  }
  .playerFont h2 {
    font-size: 2em;
  }
}
@media (max-width: 1200px) {
  .playerFont h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 992px) {
  .playerFont h2 {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  .playerFont h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 540px) {
  .playerFont h2 {
    font-size: 1.3em;
  }
}
.player2pic {
  transform: scaleX(-1);
}
.navbar-nav .nav-item {
  cursor: pointer;
}
