// Box-sizing
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.btn {
      border-radius: 0px;
}

.card {
      border-radius: 0px;
}

html {
  position: relative;
  min-height: 100%;
}


rect.btn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}

svg {
  width: 700px;
  height: 600px;
}

circle {
  fill: white;
}

circle.yellow {
  fill: rgb(241, 228, 32);
}

circle.red {
  fill: rgb(250, 95, 57);
}

main.game-rule {
  img {
    width: 250px;
  }
}
