// Box-sizing
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;

}

body {
  font-family: 'Exo 2', sans-serif;
  color: #3f3f3f;
}

.btn {
  border-radius: 0px;
}

.card {
  border-radius: 0px;
}

rect.btn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}

#board {
  overflow: hidden;
  margin: 20px auto;
  svg {
    width: 700px;
    height: 600px;
    transform-origin: 0 0;
  }
}

circle {
  fill: white;
}

circle.yellow {
  fill: rgb(241, 228, 32);
}

circle.red {
  fill: rgb(250, 95, 57);
}

main {
  .game-rule {
    img {
      width: 250px;
    }
  }
}
